body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;

}

header {
  margin: 30px;
  font-size: 35pt;
  padding: 5px;
  font-family: "Brush Script MT";
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 15px;
}

#playlistgrid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: auto;

  justify-content: center; 
}

.playlistitems {
  background-color: white;
  opacity: 90%;
  color: black;
  width: 300px;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.playlistitems:hover {
  background-size: 100% 100%, auto;
  background-repeat: no-repeat, repeat;
  background-position: center, top left;
  transform: scale(1.05);
}











#overlay {
  display: none;
  position: fixed;
  top: 0;
  opacity: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
#modal {
  display: none;
  position: fixed;
  height: 800px;

  width: 700px;
  padding-left: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 18px black;
}

.modal-content {
  color:black;
  max-width: 80%;
  margin: 10px;
  text-align: left;
}

#shufflebuttondiv {
  padding-top: 30px;
}

#shufflebutton {
  border-radius: 4px;
  padding: 4pt;
  padding-left: 20px;

  padding-right: 20px;
  font-family: "Helvetica";
  font-size: 20pt;
  border: none; 
  color: white;
  background-color: #0091ff;
}


.goodbutton{
  border-radius: 4px;
  padding: 4pt;
  padding-left: 20px;

  padding-right: 20px;
  font-family: "Helvetica";
  font-size: 20pt;
  border: none; 
  color: white;
  background-color: #0091ff;
}


.goodbutton2{
  border-radius: 4px;
  padding: 4pt;
  padding-left: 20px;

  padding-right: 20px;
  font-family: "Helvetica";
  font-size: 15pt;
  border: solid; 

  color: black;
  background-color: white;
}
.scroll-container {
  overflow-y: auto; 
  max-height: 470px; 
  width: 680px;
}

.scroll-list {
  list-style: none; 
  padding: 0; 
}

.scroll-list li {
  margin-bottom: 10px;
}

#songtime {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.songitemcard {
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}


.songitemcard2 {
  background-color: white;
  border-radius: 10px;
  border-width: 2pt;
  border-color: black;
  display: flex;
  align-items: center;
  margin: 15pt;
  border-style: solid;
  padding: 10px;
}

.colorchange{
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  height: 100vh;
  margin: 0;


  color: white;
  font-family: Arial, sans-serif;
}



.colorchange2{
  background: linear-gradient(45deg, #e63cd5, #5736ff, #38e084, #86ed26);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  height: 100vh;
  margin: 0;


  color: white;
  font-family: Arial, sans-serif;
}
@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}




.featbody{
  padding: 5pt;
  color: black;
  border-radius: 15px;

  margin: 30pt;
  background-color: white;
}